.map
    VueMapboxComponent(
        ref="mapComponent"
        :center="center"
        :pins="signals"
        :zoom="zoom"
        :showMarkerLayer="showMarkerLayer"
        showNavigation=true
        showGeolocation=false
        @get-map="getMap"
        @create-event="createEvent"
        @add-clusters="addClusters"
        @add-polygons="addPolygons"
        @add-AVL="addAVL"
        mapClass="mainMap"
        :layers="activeLayers"
    )
    ModalComponent(
        :showModal="showModal"
        :modalTitle="modalTitle"
        @close="closeModal"
    ) 
        template(v-slot:body)  
            SignalFormComponent(
                :signalLonLat="signalLonLat"
                :zoom="15"
                @close="closeModal"
            )
    MapOverlayComponent(
        @toggle-layer="toggleLayer"
    )  
