.map {
    .mgl-map-wrapper {
        .mapboxgl-map {
            position: relative;
        }
        .pinSVG {
            width: 20px;
        }
    }
    .mainMap {
        .mapboxgl-map {
            height: calc(100vh - 69px);
        }
    }
    .modalMap {
        .mapboxgl-map {
            height: 350px;
        }
    }
}
